body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
}

.w3-bar, h1, button {
  font-family: "Montserrat", sans-serif;
}

.fa-anchor, .fa-coffee {
  font-size: 200px;
}

.w3-top {
  position: fixed;
  width: 100%;
}

.w3-bar {
  background-color: #ff0000;
  color: white;
}

.w3-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.w3-left-align {
  text-align: left;
}

.w3-large {
  font-size: 16px;
}

.w3-button:hover {
  background-color: white;
  color: #ff0000 !important;
}

.w3-container {
  padding: 0.01em 16px;
}

.w3-center {
  text-align: center;
}

.w3-margin {
  margin: 16px 0 !important;
}

.w3-jumbo {
  font-size: 56px !important;
}

.w3-padding-large {
  padding: 24px !important;
}

.w3-red {
  color: #fff !important;
  background-color: #ff0000 !important;
}

.w3-text-grey {
  color: #757575;
}

.w3-row-padding {
  margin: 0 -16px;
}

.w3-light-grey {
  background-color: #f1f1f1 !important;
}

.w3-opacity {
  opacity: 0.6;
}

.w3-black {
  color: #000 !important;
  background-color: #fff !important;
}

.w3-hover-opacity:hover {
  opacity: 0.8;
}

.w3-hover-white:hover {
  background-color: #fff !important;
  color: #ff0000 !important;
}

.w3-show {
  display: block !important;
}

.fa {
  padding: 8px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook-official {
  color: #3B5998;
}

.fa-instagram {
  color: #125688;
}

.fa-snapchat {
  color: #fffc00;
}

.fa-pinterest-p {
  color: #cb2027;
}

.fa-twitter {
  color: #00aced;
}

.fa-linkedin {
  color: #007bb5;
}
